.root {
  max-width: 500px;
  margin: 8px auto;
  .cardrow {
    display: flex;
    &:hover {
      background-color: lightblue!important;
      cursor: pointer;
    }
  }
  &:last-of-type {
    margin-bottom: 60px;
  }
}
.details {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.cover {
  width: 80px;
  max-height: 80px;
  margin-left: auto;
}
.touricon {
  color: green;
  &:first-of-type {
    margin-right: 20px;
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
  }
  &:last-of-type {
    margin-left: 20px;
  }
}

.isFave {
  color: #ffb203;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  color: green;
  .tag {
    margin-right: 4px;
    padding: 4px 12px!important;
    border-radius: 16px;
    &:last-of-type {
      margin-right: 0;
    }
    padding: 4px;
    &:hover {
      background-color: grey;
      color: white;
      cursor: pointer;
    }
  }
}